.landingSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 30px;
  margin-top: 2em;
  z-index: 1;
}
.projectDetailsWrapper a {
  z-index: 30;
}

/* .landingSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50px;
  padding: 5px;
  background: linear-gradient(to right, #4caed8, #c4e306);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
} */
.landingSectionWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.landingSectionLeft {
  display: flex;
  flex-direction: column;
  width:50%;
  
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-left: 20px;
}
.landingSectionLeft p{
  font-size: var(--fs-small);
  color: #8F8F8F;
  margin-top:2rem;
}
.landingSectionLeft img {
  width: 39em;
  height: auto;
}

.landingSectionRight {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-left: 3em;
}

.landingSectionRight h1 {
  font-size: var(--fs-large);
  font-weight: 700;
}

.listDetails{
  display: flex;
  flex-wrap: wrap;
  gap:1em;
}

.listitem{
  width: 20em;
  height: 5em;
  border: 1px solid var(--fc-blue);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:1em;
}
.listitem-text{
  font-size:1.2rem;
  font-weight: bold;
}
.listitem-image{
  height: 2.4em;
  width:2.4em;
  margin-right: 1em;
}







.Projects h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 0px;
}
.projectDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
}
.projectDetails {
  margin: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projectDetails::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  padding: 5px;
  background: linear-gradient(to left, #4caed8, #c4e306);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.projectDetailsWrapper {
  background: var(--background-color);
  padding: 20px;
  border-radius: 25px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectDetails img {
  width: 150px;
  height: auto;
  padding-top: 20px;
}
.projectDetails h2 {
  width: 200px;
  line-height: 1.75rem;
  color: var(--text-color);
}
.projectDetails h2:hover {
  color: var(--primary-blue-color);
}
.knowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.knowMoreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
}
.knowMoreWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 18px;
  padding: 2px;
  z-index: -1;
  background: linear-gradient(to right, #4caed8, #c4e306);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.knowMore button {
  background-color: var(--card-blue-color);
  color: var(--text-color);
  border-radius: 18px;
  font-size: 20px;
  border-style: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.knowMoreWrapper button:hover {
  background-color: var(--background-color);
  color: var(--primary-yellow-color);
}
.Register {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 2em;
  width: 90%;
}
.RegisterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
}
.reg-btn{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.Register button {
  background: var(--bg);
  background: var(--bg-grad);
  color: var(--fc-primary);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  border-style: none;
  width: 8em;
  height: 3em;
  cursor: pointer;
}
.RegisterWrapper button:hover {
  background-color: var(--background-color);
  color: var(--primary-yellow-color);
}
@media only screen and (min-width: 936px) and (max-width: 1150px) {
  .landingSectionLeft img {
    width: 400px;
    height: auto;
  }
}
@media only screen and (max-width: 935px) {
  .Register {
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .landingSection {
    margin: 25px;
    margin-top: 40px;
  }
  .landingSection::before {
    border-radius: 30px;
    padding: 3px;
  }
  .landingSectionWrapper {
    display: block;
    padding: 5px;
    border-radius: 30px;
  }
  .landingSectionLeft {
    margin-right: 30px;
  }
  .landingSectionRight {
    margin-bottom: 0px;
  }
  .landingSectionLeft img {
    width: 300px;
    height: auto;
  }
  .landingSectionRight h1 {
    font-size: 43px;
    text-align: center;
  }
  .landingSectionRight p {
    font-size: 15px;
    text-align: center;
  }
  .landingSectionRight li {
    font-size: 15px;
  }
  .listDetails {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .landingSectionRight {
    align-items: center;
    justify-content: center;
  }
  .landingSectionRight ul {
    width: 90%;
  }
}
.sponsor {
  max-width: 1380px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor h1 {
  text-align: center;
  font-size: 70px;
}
.logoMarqueeSection {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

#logoMarqueeSection {
  margin: 0 auto;
}

.default-content-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; */
  width: 100%;
  min-height: 100vh;
}

div.marquee > a > img {
  height: 80px;
}

.logoMarqueeSection > div > div {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
}

.marquee-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  transform: translate3d(0%, 0, 0);
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee a {
  display: inline-block;
  white-space: nowrap;
  padding-right: 5.4rem;
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@media only screen and (max-width: 500px) {
  .landingSection::before {
    background: none;
  }
  .landingSectionLeft img {
    width: 250px;
    height: auto;
    margin-top: 20px;
  }
  .landingSectionRight h1 {
    font-size: 38px;
  }
  .landingSectionLeft {
    margin-right: 20px;
  }
}
