.ComingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.Sponsors h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 0px;
}
.SponsorDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
  width: 100%;
  height: 70vh;
}
.SponsorDetails {
  margin: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}
.SponsorDetails::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  padding: 5px;
  background: linear-gradient(to left, #4caed8, #c4e306);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.SponsorDetailsWrapper {
  background: var(--background-color);
  padding: 20px;
  border-radius: 25px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.SponsorDetails img {
  width: 150px;
  height: auto;
  padding-top: 20px;
}
.SponsorDetails h2 {
  line-height: 1.75rem;
  margin-top: 20px;
}
.SponsorDetails a {
  z-index: 20;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--text-color);
}
.SponsorDetails a:hover {
  color: var(--primary-blue-color);
}
.SponsorDetails h4 {
  color: var(--primary-blue-color);
}
