
.timeline{
    margin-bottom: 4em;
}
.date-content-wrapper{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    height: auto;
    padding-top:2em;
    padding-bottom: 2em;
    /* align-items: center; */
    
}
.date-wrapper{
    width:50vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: .16em solid var(--fc-blue);
    font-size: 2.5rem;
    font-weight: bold;
}

.content{
    
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    width: 40vw;
    display: flex;
    
}
.timeline-heading{
    font-size: 1.6rem;
    font-weight: bold;
}
.timeline-desc{
    margin-top: 1em;
    font-size: 1em;
    color:#C4C4C4;
}